* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: rgb(43, 141, 180);
}

a:active {
  color: rgb(0, 0, 0);
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}
    
/* Header */
header {
    background: linear-gradient(90deg, #cc0000, #000000);
    color: white;
    text-align: center;
    padding: 40px 20px;
}
span{

}
/* Menu */
nav {

    text-align: center;
    padding: 10px;
}

nav a {
    color: rgb(3, 3, 3);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 100px;
}


nav a:hover {
    color: #00aaff;
}

/* Seções */
section {
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

.flashcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background: #ffffff;
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
    flex-wrap: wrap;
}

.flashcard-text {
    flex: 1 1 360px;
}

.flashcard-image {
    flex: 0 0 400px;
}

.flashcard-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    min-height: 250px;
}

p{
    font-size: 25px;
    line-height: 1.6;
}

h2 {
    font-size: 45px;
    margin-bottom: 20px;
    color: #e03232;
}

/* Rodapé */
footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 20px;
    margin-top: 20px;
}
#sonhos{
    color: rgb(15, 15, 15);
}
h1{
    font-size: 50px;
    color: #000000;
    font-family:'montserrat' ; 
}
#ft1
{
    width: 400px;
    height: 200px;
    border-radius: 20%;
}
#créditos
{
    text-align: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
